body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e0f7fa;
}

#main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

#title {
  font-size: 2.5em;
  color: #00695c;
}

#img-div {
  margin: 20px 0;
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#img-caption {
  font-style: italic;
  color: #004d40;
}

#tribute-info {
  font-size: 1.2em;
  color: #333;
  margin: 20px 0;
}

h2 {
  color: #004d40;
  margin-top: 40px;
}

#timeline {
  list-style-type: none;
  padding: 0;
  text-align: left; /* Alinha o texto da linha do tempo à esquerda */
  margin: 0 auto;
  max-width: 600px; /* Limita a largura da linha do tempo */
}

#timeline li {
  background-color: #b2dfdb;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}
